table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 20px;
    margin: auto;
}
  
th, td {
    border: 1px solid black;
    text-align: left;
    padding: 0.8em;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color:#AC9C66;
}